<div class="w-section section">
  <div class="w-container">
    {{#each model as |event|}}
    <div class="w-dyn-list">
      <div class="w-dyn-items w-row">
        <div class="w-dyn-item w-col w-col-4 blog-block">
          <a data-ix="blog-link" class="w-inline-block project-link blog-link">
            <div class="blog-image-wrapper">
              <div class="blog-date"></div>
              <div class="blog-category"></div>
              <div class="blog-image"></div>
            </div>
            <div class="blog-title"></div>
            <div class="blog-description"></div>
            <div>
              <div class="blog-author">Written by</div>
              <div class="blog-author"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="w-dyn-empty">
      <p>Oops! There's nothing here yet... Check back later!</p>
    </div>
    {{/each}}
  </div>
</div>
