<div class="w-section">
  <div class="w-container">
    <div class="form-wrapper">
      <div class="contact-heading">Get in Touch</div>
      <div class="small-divider"></div>
      <div class="contact-text">Thank you for your interest! Please fill out the form below if you would like to work together.</div>
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <input id="name" type="text" placeholder="Enter your name" name="name" data-name="Name" class="w-input text-field">
          <input id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required" class="w-input text-field">
          <textarea id="Project-details" placeholder="What are your project details..." name="Project-details" data-name="Project details" class="w-input text-field text-area"></textarea>
          <input type="submit" value="Send" data-wait="Please wait..." class="w-button submit-button">
        </form>
        <div class="w-form-done success-message">
          <p class="success-text">Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>
</div>