<div class="w-section section">
  <div class="w-container">
    {{#each model as |event|}}
    <div class="w-dyn-list">
      <div class="w-dyn-items w-row w-clearfix">
        <div class="w-dyn-item w-col w-col-4 project-block">
          <a class="w-inline-block project-link">
            <div class="project-image"></div>
            <div class="project-tag"></div>
            <div class="project-title"></div>
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="w-dyn-empty">
      <p>Oops! There's nothing here yet... Check back later!</p>
    </div>
    {{/each}}
  </div>
</div>
