<div class="w-section section top-section home-page">
  <div class="w-container hero-container">
    <div class="w-clearfix">
      <div data-ix="tile-1" class="_60block">
        {{#link-to 'about' class='w-inline-block hero-tile'}}
          <div class="tile-text">About
            <br>Acro yoga
            <br>San diego.</div>
          <div class="tile-image about-acro">
            <div class="tile-overlay"></div>
          </div>
        {{/link-to}}
      </div>
      <div data-ix="tile-3" class="_40block">
        <div class="w-dyn-list hero-tile">
          <div class="w-dyn-items">
            <div class="w-dyn-item">
              {{#link-to 'events' class='w-inline-block tile-link'}}
                <div class="tile-text">Latest
                  <br>Jams &amp; Events</div>
                <div class="tile-image latest-events">
                  <div class="tile-overlay"></div>
                </div>
              {{/link-to}}
            </div>
          </div>
          <div class="w-dyn-empty">
            <p>No items found.</p>
          </div>
        </div>
      </div>
      <div data-ix="tile-3" class="_33block">
        <div class="hero-tile">
          <div class="w-dyn-list">
            <div class="w-dyn-items">
              <div class="w-dyn-item">
                {{#link-to 'blog' class='w-inline-block tile-link'}}
                  <div class="tile-text">Latest
                    <br>Posts.</div>
                  <div class="tile-image latest-posts">
                    <div class="tile-overlay"></div>
                  </div>
                {{/link-to}}
              </div>
            </div>
            <div class="w-dyn-empty">
              <p>No items found.</p>
            </div>
          </div>
        </div>
      </div>
      <div data-ix="tile-2" class="_33block">
        {{#link-to 'contact' class='w-inline-block hero-tile'}}
          <div class="tile-text">Join
            <br>us.</div>
          <div class="tile-image hire">
            <div class="tile-overlay"></div>
          </div>
        {{/link-to}}
      </div>
      <div data-ix="tile-4" class="_33block">
        <div class="w-clearfix">
          <a href="//www.instagram.com/acroyoga_sandiego/" class="w-inline-block social-block instagram"></a>
          <a href="//www.facebook.com/sandiegoacroyoga/" class="w-inline-block social-block facebook"></a>
          <a href="//acroyoga-sandiego.herokuapp.com/" class="w-inline-block social-block slack"></a>
          <a href="//calendar.google.com/calendar/ical/l3s43bvffs8qbplafcp7a1uvt4%40group.calendar.google.com/public/basic.ics" class="w-inline-block social-block google-calendar"></a>
        </div>
      </div>
    </div>
  </div>
</div>
